body {
	font-family: 'Neuton', serif;
	margin: 0;
}

header {
	color: white;
	font-family: 'Architects Daughter', cursive;
	z-index: 10;
	height: 80px;
}

ul li a {
	color: white;
}

nav li {
	padding-right: 20px;
	color: white;
}

a {
	text-decoration: none;
}

ul a:hover {
	color: #FF0000;
}


input {
	padding: 15px;
	width: 250px;
	margin: auto;
	border-radius: 8px;
	border-width: 0px;
	font-family: 'Neuton', serif;
	font-size: 20px;
	border-color: black;
}

main {
	margin-top: 500px;
	z-index: 1;
	background:#fff;
	width: 100%;
}

p {
	font-size: 20px;
}

img {
	background-repeat: repeat;
	width: 100%;
	align-self: center;
}

h1 {
	margin-left: 0px;
}


.article-self {
		flex: 1;
		padding: 20px;
		flex-basis: 30%
		box-sizing: border-box;
}

.head-container {
	margin: 0;
	display: flex;
	position: fixed;
	width: 100%;
	top: 0;
	/*
	background-color: #464047;
	position: fixed;
	*/
}

.head-container hover {
	background-color: #464047;
}

.head-header {
	flex: 2;
	margin-left: 40px;
}

.head-nav {
	flex: 1;
	justify-content: space-between;
	margin: auto;
}

.home-banner{
	background: url("images/headphones.jpg");
	background-size: cover;
	position: absolute;
	top: 0;
	background-attachment: fixed;
	height: 800px;
	width: 100%;
	margin: 0;
	text-align: center;
}

.home-label {
	font-size: 50px;
	color:#ddd;
	margin: 200px 200px 100px 200px;
}

.main-header {
	text-align:center;
	font-family: 'Architects Daughter', cursive;
	font-size: 35px;
	padding: 50px;
	margin-top: 20px;
}


.search-bar {
	padding:10px;
	margin-top: 0;
}


section {
	font-family: 'Architects Daughter', serif;
}


footer {
	margin-left: 0px;
	height: 330px;
	background: black;
}

.foot-container {
	height: 330px;
	width: 80%;
	margin:auto;
	display: flex;
	flex-direction: column;	
}

.footer-row-up {
	flex: 5;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.up-name {
	flex: 0.8;
}

.company {
	flex: 0.6;
	color: #929496;
	text-align: left;
    padding-top: 32px;
    font-size: 15px;
}

.company-base ul {
	padding-left: 0px;
	padding-right: 50px;
}

.social {
	flex: 2;
	margin:auto;
	align-items: center;
	justify-content: center;
}

.nav-title {
	font-family: 'Architects Daughter', cursive;
}

.footer-row-down {
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.down-left {
	flex: 1;
}

.down-right {
	flex: 1;
}

@media (min-width: 900px) {
	
	.article-container {
		display: flex;
		justify-content: space-between;
	}
	nav li {
		display: inline;
	}
}